@import '../../common/colors.scss';

.movie-list,
.show-list {
  margin: 20px 0px;
  h2 {
    color: $font-secondary;
    margin-bottom: 10px;
    font-weight: 400;
  }
}

.search-loading > div span {
  color: $font-secondary;
  size: 100vm;
}

.fa-spinner {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 0px;
  color: $font-primary;
  font-size: 100vm;
}
